body {
    background: rgb(124,27,27);
    background: linear-gradient(0deg, rgba(124,27,27,1) 0%,
     rgba(2,0,36,1) 100%, rgba(121,9,9,1) 100%,rgba(2,2,2,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.botao{
 background-color:#B21010;
 color:#FFF ;
 border-radius: 200px;
 border-width: 0;
 padding: 10px;
 margin: 5px;
}
#topo {
    display: flex;
    flex-direction: row;

}
#topo_inicio{

}
#topo_meio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 ;
}
#conteudo{
    display: flex;
    flex: 1;
    flex-direction: column;
}
#logo_div{
    display: flex;
    height: 100vh;
    
    justify-content: center;
    align-items: center;
    width: 100%;
}
#logo{
    width: 60%;
    min-width: 400px;
}
#conteudo_itens{
    display: flex;
    flex-direction: row;
}
.conteudo_item{
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    flex: 1;
    margin: 5px;
    padding: 10px;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
}
.membro{
    display: flex;
    flex-direction: row;
    padding: 10px;

}
.membro p{
    margin-left: 20px;
}

.selecionado{
    background-color: rgba(255,255,255,0.2);
}

